<div class="row">
	<div class="col-sm-8">
		<div class="timeline">
			<!-- Line component -->
			<div class="line text-muted"></div>

			<!-- Can apply if-else for random colors -->
			<% site.posts.sort('date','desc').forEach(function(post){ %>
				<article class="panel panel-info">
					<div class="panel-heading icon">
						<i class="glyphicon <%- post.glyphicon %>"></i>
					</div>

					<div class="panel-heading">
						<a class="panel-title" href="<%- post.path %>"><%- post.title %></a>
						<time class="text-muted pull-right"><%- date(post.date, 'DD/MM/YYYY') %> </time>
					</div>

					<div class="panel-footer">
						<%- post.abstract %>
					</div>
				</article>	
			<% }) %>
		</div>
	</div>

	<div class="col-sm-4" id="boundary">
		<div class="auxiliary">
			<span class="glyphicon glyphicon-folder-open"/>
			<b>Categories</b> <hr />
			<%- list_categories({show_count:false}) %>
		</div>
		
		<br />

		<div class="auxiliary">
			<span class="glyphicon glyphicon-tags"/>
			<b>Tags</b> <hr />
			<%- tagcloud() %>
		</div>

	</div>
</div>




<!-- Access to data
<%- site.data.example.var0 %> <hr>

Variable name:
<% for(var value in site.data.example) { %>
	<%- value %> <br>
<% } %>

Value name:
<% for(var value in site.data.example) { %>
	<%- site.data.example[value] %> <br>
<% } %> -->